<div class="keyboard char">
    <% for (let c of '1234567890') { %>
        <button class="num"><%= c %></button>
    <% } %>
    
    <% for (let c of 'qwertyuiopasdfghjklzxcvbnm') { %>
        <button class="char"><%= c %></button>
    <% } %>
</div>
