<% layout('layouts/boilerplate') %>

<!-- set nav l/r links -->
<% block('navLeft').append('<button>Left</button>') %>
<% block('navRight').append('<button>Right</button>') %>

<!-- html starts here -->
<a href="/user">User</a>
<a href="/admin">Admin</a>
<a href="/event">Event</a>
<a href="/session">Session</a>

