form {
    --transition-time: .26s;
    position: relative;
}

form .page {
    position: absolute;
    top: 0;
    
    display: grid;
    grid-template-columns: 1fr repeat(2, 1.25fr) 2fr 1fr;
    grid-template-areas: '. left middle right .';
    grid-gap: .5rem;

    width: 100vw;
    min-width: 60vw;
    margin-inline: auto;
}
form .page.active {
    transform: translateX(0);
}
form .page:not(.active) {
    transform: translateX(-100vw);
}
form .page.active ~ .page {
    transform: translateX(100vw);
}

form .page:nth-of-type(1) {
    z-index: 4;
}

form label {
    font-size: .8em;
    padding-top: .3rem;
}
form input,
form textarea {
    border: none;
    border-bottom: 2px solid rgba(var(--color-black),.3);
    border-radius: .2em .2em 0 0;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    padding: .3em .3em;
    font-size: 1em;
    letter-spacing: .1em;
    font-family: var(--font-main);
    color: var(--color-black);
    caret-color: var(--color-primary-dark);
}
form textarea {
    height: 4em;
    resize: none;
    scrollbar-width: none;
}
form input:is(.date, .phone) {
    text-align: center;
}
form input:focus,
form textarea:focus {
    outline: 2px solid rgba(var(--color-primary-dark), .4);
    outline-offset: -2px;
}

form label,
form input,
form textarea {
    grid-column: left / right;
    width: 90%;
}
form .page label,
form .page input,
form .page textarea {
    /*transform: scaleY(0);
    transition: transform var(--transition-time) ease-out;*/
}
form .page.active label,
form .page.active input,
form .page.active textarea {
    /*transform: scaleY(1);
    transition: transform var(--transition-time) var(--transition-time) ease-out;*/
}

form input.date:not(.yy) {
    width: 90%;
}
form input.date.dd {
    grid-column: left / span 1; 
}
form input.date.mm {
    grid-column: middle / span 1;
}
form input.date.yy {
    grid-column: right / span 1;
    width: 70%;
}
