.keyboard {
    background: palegreen;

    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;

    height: auto;
}

.keyboard.num {
    display: grid;
    grid-gap: .5rem;
    grid-template-columns: 1fr repeat(3, 3rem) 1fr;
    grid-template-areas: '. left middle right .';
    grid-template-rows: repeat(4, 2rem);

    display: none;
}
.keyboard.num button.char {
    display: none;
}
.keyboard.num button {
    height: 2rem;
}
.keyboard.num button.num:nth-child(3n-2) {
    grid-column: left / span 1;
}
.keyboard.num button.num:nth-child(3n-1) {
    grid-column: middle / span 1;
}
.keyboard.num button.num:nth-child(3n) {
    grid-column: right / span 1;
}
.keyboard.num button.delete {
    grid-column: left / span 1;
}
.keyboard.num button.return {
    grid-column: right / span 1;
}

.keyboard.char {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-block: .8em;
}
.keyboard.char .row {
    margin-block: .1em;
}
.keyboard.char button:is(.char, .num) {
    height: 1.6em;
    width: 2em;
    margin-inline: .1em;
}

